{% extends 'home-broker/base-dashboard.html.twig' %}

{% block body %}
<h1>Ações disponíveis</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Empresa</th>
        <th>Sigla</th>
        <th>Disponíveis</th>
        <th>Valor unitário</th>
    </tr>
    </thead>

    <tbody>
    {% for stock in stockOptions %}
        <tr>
            <td>{{ stock.company }}</td>
            <td>{{ stock.ticker_symbol }}</td>
            <td>{{ stock.quantity }}</td>
            <td>R$ {{ stock.value|number_format(2, ',', '.') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}